.card-img-top{
    height: 150px;
    width: 150px;
}

.forms{
    top:90px;
}

.forms2{
    top: 120px;
}


.home{
    background-image: url("/flask_app/static/assets/kingdom.jpg");
}

*{
    margin: 0 auto;
    padding: 0;
    /* background-image: url('./assets./traders.png'); */
    /* background-color: blue; */
    /* min-height: 100vh; */
}